body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(255, 0, 85) 0%, rgba(242,97,97,1) 35%, rgba(99,177,208,1) 73%, rgba(0,212,255,1) 100%)

}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
    color: white;
    
}
.boxsorteio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
   
    color: white;
    
}
fieldset{
    border: 3px  solid #ff6c6ce3;
}
legend{
    border: 1px solid #ff4646;
    padding: 10px;
    text-align: center;
    background-color: #ff4646;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
   background: none;
   border: none;
   border-bottom: 1px solid white;
   outline: none;
   color: white;
   font-size: 15px;
    width: 100%;
    letter-spacing: 2px;

}
.labelInput{
    position: absolute;
    top: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #fd003f;
    
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;

}
#submit{
    background: linear-gradient(90deg, rgba(255, 86, 143, 0.87) 0%, rgba(255, 119, 187, 0.84) 35%, rgba(134,204,232,0.84) 73%, rgba(120,232,255,0.8631827731092436) 100%);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
#submit:hover{
    background: linear-gradient(90deg, rgba(120,232,255,0.8631827731092436) 0%, rgba(134,204,232,0.84) 31%, rgba(255,162,162,0.84) 69%, rgba(255,119,165,0.84) 100%);
   
}
.error{
    color: red;
}

.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.tituloresult{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 90px;
    text-shadow: 4px 5px #fd003f;
}

